<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.2.30" targetFramework="net452" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net452" />
  <package id="DevExpressMvvm" version="20.2.3" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>